body {
    font-family: Arial, sans-serif;
    background: url('../images/Image.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: gray;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}


main {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.signup-container {
    background-color: #444; /* Slightly lighter gray */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-top: 20px; 
    margin-right: 30px;
}


.signup-container h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 2rem;
}


.signup-container label {
    display: block;
    text-align: left;
    color: lightgray;
    margin: 10px 0 5px;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #555; /* Dark input field background */
    color: white;
    font-size: 1rem;
}


.signup-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #389690; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-container input[type="submit"]:hover {
    background-color: #008fcc; /* Slightly darker hover color */
}

.asd{
    padding: 10px;
    background-color: #389690; 
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.asd:hover{
    background-color: #008fcc; /* Slightly darker hover color */
}

@media (max-width: 600px) {
    .signup-container {
        padding: 20px;
    }

    .signup-container h1 {
        font-size: 1.5rem;
    }
}
